v-env
.env
.env.*
!.env.example
!**/.env.example

node_modules
.m0-storage/
.m2-rerank-venv/
wici-enrichment-cache/
server/storage/wici-enrichment-cache/
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea
